
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body {
    font-family: Raleway, san-serif;
}
#content {
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
}
main {
    padding: 10px 50px;
}
h1, footer {
    background-color: brown;
    color: white;
    padding: 10px;
    text-align:center;
    border-radius: 15px;
  
}
h2{
  border-bottom: 2px solid gray;
}
footer a {
  color: white;
}
img{
    float: right;
    width: 20%;
    border-radius: 5px;
    padding-right: 55px;
    padding-bottom: 100px;
    
}

li {
    padding: 5px 0;
}
li a, li a:visited{
    color:brown;
}