 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

h1, footer {
    background-color: brown;
    color: white;
    text-align:center;
    border-radius: 15px;
    padding:15px 0px 15px 15px;
    
}

  

footer a{
  color: white;
}
img{
    float: right;
    width: 20%;
    border-radius: 5px;
    padding-right: 55px;
    padding-bottom: 100px;
    
}

li a, li a:visited{
    color:brown;
}
body{
    max-width: 650px;
    margin: 0 auto;
    font-family: Raleway, san-serif;
}

h1{
    text-align:center;
    padding:15px 0px 15px 15px;
    
}
h2{
    border-bottom: 2px solid #969fa0;
    font-size: 1.5rem;
    border-bottom: 2px solid gray;
}