@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Signika&display=swap');

h1, h2, h3{
    font-family: 'Signika', sans-serif;
    padding-left: 30px;
}

p{
    
    font-size: 20px;
    padding:25px;
    padding-bottom: 25px;
    font-family: 'Acme', sans-serif;
    line-height: 30px;
    text-align: center;
} 

h1{
       padding:5px;
       font-size: 40px;
    
}
h2{

    font-size: 30px;
  }

nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: #00a9e2;
}
 nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden; 
}
nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
    font-size: 25px;
  
}

nav a:hover {
	background-color: #00a9e2;
	color: #36454f;
}

nav li {
  display: inline-block;
}
img{
    display: block;
    margin:0 auto; 
}

img{
    max-width: width 400px;
    width: 95%;
}


@media screen and (min-width: 550px){
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 45px;
    }
    img{
        max-width: 200px;
        width: 80%;
        padding-left: 40px;
        
        
    }
    .home{
        margin: 20px auto;
        padding: 40px;
        border-radius: 10px;
        width:50%;
    
    }
}

@media screen and (min-width: 900px){
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
    }
} 
@media screen and (min-width: 900px){
    .header {
        display: flex;
        grid-gap: 50px;
    }
} 


header,
footer {
    text-align: center;
    background-color: #006DAA;
    padding: 1px;
    color: white;
    line-height: 15px;

}

header a,
footer a {
    color: white;
}



/* Typography*/
section{
    background-color: #00a9e2; 
    overflow: hidden;
}

.typography{
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
    padding: 40px;
    width:50%

}









/*Color-Scheme*/

/* Main Background*/
.color1{
    background-color: #00a9e2;
}
/*Header/Footer Text*/
.color2{
    background-color: white;
}
/*Main Text*/
.color3{
    background-color:  #00a9e2;
}
/*Header/Footer*/
.color4{
    background-color: #006DAA;
}
/*Accent 1*/
.color5{
    background-color: #6fffe9;
}
/*Accent 2*/ 
.color6{
    background-color: #ffba08;
}

.color-scheme{
    background-color: white;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
     width:100%

}



/* Target Audience */
.audience{
    background-color: white;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
    width:50%;

}
.content1{
        background-color: white;
        margin: 20px auto;
        padding: 40px;
        border-radius: 10px;
        width:50%;
    
    }
.content2{
    background-color: white;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
    width:50%;

}


/* Home Page */
.home{
    background-color: white;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
    width:100%;

}